<title>Advanced Directives for Mental Health - Search Results</title>

Search Results:
Your search produced the following results.


<% if (persons.length == 0) { %>
    <p> No match found from search inputs. </p>
<% } else { %>
<ul>
    <% persons.forEach( (person, i) => { %>

        <a id=i href="/verify?index=<%= i %>"><%= person.firstName %> <%= person.lastName %></a>
        <ul>
            <li>birthdate: <%= person.birthdate %></li>
            <li>address: <%= person.address %></li>
            <li>email: <%= person.email %></li>
        </ul>

    <% }); %>
</ul>
<%} %>

<br><a href="/">Back To Search</a>